*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}
/* Custom styles */

:root {
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-lightGray: #f6f7f8;
    --clr-gray: #dae0e6;
    --clr-midGray: #878a8c;
    --clr-darkGray: #444444;
    --clr-dark: #303030;
    --clr-border: #edeff1;
    --clr-borderDarker: #cccccc;
    --clr-accent: #0079d3;
    --clr-accentLighter: #3691d6;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs:   0.25em 0.25em 0.75em rgba(0,0,0,.25);
}

/* General items */
body {
    font-family: Noto Sans,Arial,sans-serif;

}

.icon{
    font-size: var(--fs-h3);
    color: var(--clr-midGray);
}

/* Buttons  */

.outlined-btn{
    border: 1px solid var(--clr-accent);
    color: var(--clr-accent);
}

.outlined-btn:hover, .outlined-btn:active {
    background-color: var(--clr-lightGray);
}


.filled-btn{
    background-color: var(--clr-accent);
    color: var(--clr-light)
}

.filled-btn:hover, .filled-btn:active{
    background-color: var(--clr-accentLighter);
}
